@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color:#101820FF;
}
.content {
    max-width: 650px;
    margin: 300px 100px;
}
.model {
    height: 400px;
    position: absolute ;
    bottom: 54px;
    left:73%;
    transform: translateX(-73%);
}
h2{
    color: rgb(255, 251, 0);
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
    margin-bottom: 100px;
}
h3{
    color: rgb(255, 251, 0);
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 70px;
    margin-bottom: 100px;
}
.content p{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-top: -30px;
    margin-bottom: 30px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
header .logo{
    color: rgb(255, 251, 0);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: rgb(255, 251, 0);
    color: #101820FF;
    transition: 0.5s;
}
.media-icons{
 display: flex;
 justify-content: left;
 align-items: left;
}
.media-icons a:not(:last-child){
    margin-right: 80px;
}
.media-icons a{
    position: relative;
    color: white;
    font-size: 25px;
    transition: 0.3s;
    transition-property: transform;
}
.media-icons a:hover{
    transform: scale(1.5)
}
.table-shape{
    margin: 10px 70px 70px;
}
.tablestyle {
    border-radius: 10px;
    font-size: 20px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.tablestyle td, .tablestyle th {
    text-align: center;
    padding: 18px;
}

.tablestyle td {
    border-right: 7px solid black;
    font-size: 12px;
}
.ftablestyle tr:nth-child(even) {
    background: #F8F8F8;
}
