@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background-color:#101820FF;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
}
header .logo{
    color: rgb(255, 251, 0);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-right: 30px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background:  rgb(255, 251, 0);
    color: #101820FF;
    transition: 0.5s;
}
.model{
    height: 400px;
    position: absolute ;
    bottom: -290px;
    left:50%;
    transform: translateX(-50%);
}
.content {
    text-align: center;
    margin: 250px 150px;
}
h1{
    color: rgb(255, 251, 0);
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 60px;
    margin-bottom: 40px;
}
h2{
    color:white;
    font-size: 37px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 7px;
    margin-bottom: 40px;
}
.content p1{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: -30px;
    margin-bottom: 30px;
}
.contribution p2{
    top: 2000px;
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 100px;
}
.contribution{
    text-align: center;
    margin: 100px 150px;
}
.contribution p3{
    color: rgb(255, 251, 0);
}